.codeConteneur{
    min-width: 450px;
    max-width: max-content;
    min-height: 150px;
    max-height: max-content;
    border-radius: 10px;
    background-color: #1B1B1C;


    .headercode{
        width: 100%;
        height: 60px;
        border-radius: 10px;
        background-color: #2C2C2E;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-left: 15px;
        padding-right:15px ;
        box-sizing: border-box;

       font-family: "Poppins", sans-serif;
       font-optical-sizing: auto;
       font-weight: bold;
       font-style: normal;
       font-size:1.4rem;
    }

    .headercode img {
     width: 20px;
     height: 20px; 
     cursor:pointer; 
     transition:all ease-in-out 300ms
    }


    .headercode img:active {
 transform : scale(1.3) 
}


    .codeDiv{
        width: 100%;
       min-height: 90px;
       max-height: max-content;
        // background: #000;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding-left: 20px;


       font-family: "Poppins", sans-serif;
       font-optical-sizing: auto;
       font-weight: bold;
       font-style: normal;
       font-size:1.7rem;

    

    }
    
}