.CodeStatut{
    height: max-content;
    width: 90%;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgb(73, 73, 73);
    line-height: 100px;
    

    caption {
        width: max-content;
        margin-left: 40px;
       word-spacing: 10px;
       
       
       & span:nth-child(1){
        font-size: 30px;
       }

       & span:nth-child(2){
        font-family: "Poppins", sans-serif;
       font-optical-sizing: auto;
       font-weight: bold;
       font-style: normal;
       font-size:3rem; 
        }

    }

    td,th{
  border-bottom:  1px solid rgb(73, 73, 73);

    }

    thead tr{
     
      font-family: "Poppins", sans-serif;
      font-optical-sizing: auto;
      font-weight: bold;
      font-style: normal;
      font-size:2.5rem; 
       } 

     .line{
        text-align: center;
        font-family: "Poppins", sans-serif;
        font-optical-sizing: auto;
        font-weight:400;
        font-style: normal;
        font-size:2.3rem;
        border-bottom:  1px solid rgb(73, 73, 73);

     }
     
     
        
}