.header{
    width: 100vw;
    height: 50px;
    // background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(73, 73, 73);
       
}

.right{
    width: 300px;
    height: 50px;
    // background-color: rgb(162, 187, 19);
    margin-right: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

.version{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 160px;
    height: 40px;
    cursor: pointer;
    // background: #c92323;
    position: relative;
    

  img{
    transition: ease-in-out all 300ms;
    transform-origin: 50% 50%;
}  
}




.version span{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size:1.4rem;

}

.listeVersion{
  //   display: block;
  //  visibility: visible;
  position: absolute;
  top: 50px;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size:1.4rem;
  list-style: none;
  width: max-content ;
  padding-left: 10px;
  padding-right: 10px;
  height: 50px;
  border: 1px solid rgb(53, 53, 53);
  display: flex;
  align-items: center;
  border-radius: 10px;
  transition: all ease-in-out 100ms;
  }

  .listeVersion:active{
    background-color: white;
    color:rgb(73, 73, 73) ;
  }

.langue{
  width: 50px;

display: flex;
align-items: center;
justify-content: space-between;
cursor: pointer;

  img{
    transition: ease-in-out all 300ms;
    transform-origin: 50% 50%;
}  
}



}
