.BaseUrl{
 height: 44vh;
 padding-left: 40px;
 padding-top: 40px;
 border-bottom: 1px solid rgb(73, 73, 73);

 h2 {
  margin-bottom: 30px;
 }
 h2 span:nth-child(1){
  font-size: 30px;
 }

 h2 span:nth-child(2){
   font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size:3rem; 
   } 

   p{
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size:1.8rem;
  margin-top: 20px; 

}

   

 }  