.footer{
    height: max-content;
    // background-color: rebeccapurple;
    

 @mixin flexCenter{
    height: max-content;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgb(73, 73, 73);
 }


@mixin h2 {
    h2{
        margin-bottom: 30px;
        word-spacing: 10px;
        
        & span:nth-child(1){
         font-size: 30px;
        }
       
        & span:nth-child(2){
          font-family: "Poppins", sans-serif;
         font-optical-sizing: auto;
         font-weight: bold;
         font-style: normal;
         font-size:3rem; 
          }
    }
    
    }

   @mixin ul{

    ul{
        display: flex;
        flex-direction: column;
        height: max-content;
        line-height: 60px;
        font-family: "Poppins", sans-serif;
        font-optical-sizing: auto;
       font-weight: 400;
       font-style: normal;
      font-size:2rem; 
      margin-top: 40px;
    }
        
       }   
 
 .version{
    @include flexCenter;
    height: max-content;
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgb(73, 73, 73);

    @include h2;

    @include ul;   
    
       ul li span:nth-child(1){
        font-weight: bold;
       
       
    }
p{
    line-height: 60px;
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
  font-size:1.4rem; 

}

 }

 .support{
    @include flexCenter;
    @include h2;
    @include ul;

    ul li span:nth-child(1){
        font-weight: bold;
       
       
    }
 }

 .licence{
    @include flexCenter;
    @include h2;
    @include ul;
    
    p{
        // line-height: 60px;
        font-family: "Poppins", sans-serif;
        font-optical-sizing: auto;
       font-weight: 400;
       font-style: normal;
      font-size:1.4rem; 
    

 }}

 
}