
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html,body{
  /* 10px div by def of 16px */
  font-size: 62.5%;
  background:#14171D;
  color: white;
  display: flex;
  // width: 100%;
  height: max-content;
  flex-direction: column;
  overflow-x: hidden;
  
  
   
 
    }




  




